{% extends "base.html" %}

{% block title %}{{ item.title }}{% endblock %}

{% block content %}
    <div class="container mt-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Головна</a></li>
                <li class="breadcrumb-item"><a href="{% url 'articles-list' %}">Публікації</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ item.title }}</li>
            </ol>
        </nav>

        <div class="card mb-4">
            <div class="card-body">
                <h1 class="card-title">{{ item.title }}</h1>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ item.pub_date|date:"j E Y" }}
                </h6>
                <p class="card-text">
                    {{ item.description|safe|linebreaks }}
                </p>

                {% if item.images.all %}
                    <div class="fotorama" data-width="100%" data-ratio="800/600" data-nav="thumbs">
                        {% for image in item.images.all %}
                            <img src="{{ image.image.url }}" alt="{{ image.title }}">
                        {% endfor %}
                    </div>
                {% endif %}

            </div>
        </div>

        <a href="{% url 'articles-list' %}" class="btn btn-secondary">Всі публікації</a>
    </div>
{% endblock %}