<!DOCTYPE html>
<html lang="uk">

<head>
    <title>Список публікацій</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    {% if category %}
    <h1>{{ category.category }}</h1>
    {% else %}
    <h1>Всі публікації</h1>
    {% endif %}

    {% if items %}
    {% for item in items %}
    <div>
        <a href="{{ item.get_absolute_url }}">
            <h4>{{ item.title }}</h4>
        </a>
        <h5>
            {{ item.pub_date|date:"j EY"|safe|linebreaks }}
        </h5>
        <p>
            {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
        </p>
    </div>
    {% endfor %}
    {% endif %}

    <a href="{% url 'home' %}">
        <h4>На головну</h4>
    </a>
</body>

</html>